@import "variables";
@import "mixins";
@import "compass/css3";



.entryContent {
  padding-top: 25px; 
  padding-bottom: 25px;
  font-size:20px;
  color:$brown;    
  font-family:$avenirMedium;
      
      
  @media screen and (min-width: $mobileView) {
    font-size:30px;
  }
  
}

