@import "variables";
@import "mixins";
@import "compass/css3";


form {
  
  .loginEmailForm {
     max-width: 650px; margin: 0 auto;
     @include transition(all 0.5s);
  }
  
  .retrieveCredientialsText {
    margin-bottom:20px; 
    font-size:16px;
  }
  
  
  .forgotCredentialsForm.ng-hide {
      opacity:0;
  }
  
  .credentialsSent {
    position:absolute;
    top:0px;
    z-index:1;
    left: 0px;
    right: 0px;
    opacity:1;
  }
  .credentialsSent.ng-hide {
    opacity:0;
  }

  
    
}


