@import "variables";
@import "mixins";
@import "compass/css3";



body.recipeMain {
  background: url(../images/background-pattern.png);
}

header {
  position:fixed;
  z-index:1;
  
  .pageTitleHeader {
    
    .addRecipeBreadCrumbs {
      position:relative;
      
      a:link, a:visited {
        color:white;
        text-decoration:none;
        float:left;
        
        &:hover {
        text-decoration:underline;
        }
        
      }
      
      
      
      
      a:before {
        content: " ";
        width: 0;
        height: 0;
        float: right;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 7px solid #ffffff;
        margin: 7px 10px;
        
        
        @media screen and (min-width: $mobileView) {
          
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 10px solid #ffffff;
          margin: 10px 15px;
          
        }
        
        
      }
      
      .currentPage {
        float:left;
        font-family: $avenirBlack;
      }
      
    }
  }
} 
.headerPush {height:70px}

.recipePicture {height:440px; position:relative;}  
.recipePicture.NoPicture {background:#D2D9E9 url('../images/nopicture.png') no-repeat center;}



.photoButtons {
  
  @media screen and (min-width: $mobileView) {
    position:absolute; 
    left:30px;
  } 
  
  .UploadButton {
    background:#fff url('../images/photoUpload.png') no-repeat center;
    @extend .photoButtonsStyles;
    
    &:hover {
      background:#f1f1f1 url('../images/photoUpload.png') no-repeat center;
      background-size: 33px;

      @media screen and (min-width: $mobileView) {
        background-size: auto;
      }
    }
    
  }
  
  .deleteButton {
    background:#c30000 url('../images/deletePhoto.png') no-repeat center;
    @extend .photoButtonsStyles;
        
    &:hover {
      background:#940707 url('../images/deletePhoto.png') no-repeat center;    
      background-size: 33px;
      
      @media screen and (min-width: $mobileView) {
        background-size: auto;
      }
    }
    
    //deletebutton desktop
    @media screen and (min-width: $mobileView) {
      margin-top:30px;
    }
    
  }
}


.photoButtonsStyles {
  height:65px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background-size: 33px;
        
  @media screen and (min-width: $mobileView) {
   @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
   @include border-radius(65px);
   width: 100px;
   height: 100px;
   border-top: none;
   border-bottom: none;
   background-size: auto;
  }
}


#yourProfilePage {
  
  .profilePic {
    
    .image {
      width:300px;
      height:300px;
      background:#D2D9E9;
      margin:75px auto 55px auto;
      @include border-radius(215px);
    }//.image
    
    .image.NoImage {
      background:#D2D9E9 url('../images/EmptyProfile.png') no-repeat center 45px;
    }//.image.NoImage
    
  }//.profilePick
  
  #profilePicContent {
    position:relative;
    
    
    
    .photoButtons {
      top:50px;
      
      @media screen and (min-width: $mobileView) {
          
      }//photo button desktop
      
    }//photo buttons
  }//#profilePicContent
}//#yourProfilePage

#recipeSinglePage {
  position:relative;
  #recipePicture {
    
    
    
    .photoButtons {
      top:90px;
      
      @media screen and (min-width: $mobileView) {
        
      }//photo button desktop
    }//.photoButtons
    
  }//#recipePicture
  
}//#recipeSinglePage


#singleUserRecipeBook {
  margin-top:35px;
  
  .singleRecipeElement {
    float:left; 
    width:300px;
    @include box-shadow(0 5px 0px rgba(0, 0, 0, 0.44));
    @include border-radius(7px);
    background:#fff;
    overflow:hidden;
    margin-right: 25px;
    margin-bottom:25px;
    
    .recipeImage {
      height:230px;
      position:relative;
      
      .mouseOverOverlay {
         
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color:rgba(0, 0, 0, 0.5);
        
        
        .view {
          position:absolute; right:50%; top:0px; left:0px; bottom:0px;
          background:url('../images/eyeBall.png') no-repeat center;
        }
        
        .deleteRecipe {
          position:absolute; right:0px; top:20px; left:50%; bottom:20px;
          background:url('../images/deletePhoto.png') no-repeat center;
          border-left: 1px solid white;
        }

      }
      
    }
    
    .name {
      font-family: $avenirBlack;
      color:$brown;
      font-size: 20px;
      border-bottom:1px solid #E9E9E9
    }
    .name, .category {
      padding: 10px 15px;
    }
    
    .category {
      font-family: $avenirMedium;
      
      color:$brown;
      font-size: 16px;
    }
    
    .recipeImage.noImage {
       background:#D2D9E9 url('../images/nopicture.png') no-repeat center;
    }
    
  }//.singleRecipeElement
  
  
  .leftCategoryButtons, .addCategory {
      bottom: 15px;
    }
  
  .leftCategoryButtons {
    position:fixed;
    left: 15px;
    
    .categoryList {
      background:$brown;
      @include border-radius(25px);
      float: left;
     
      padding:9px 20px;
      margin-right: 20px;
      @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
      
      .mui-select>select {
        color:white;
        border-bottom:none;
      }
      
      
      .mui-select {
        padding-top:0px;
        margin-bottom: 0px;
        
        
        .mui-select__menu {
          top: -106px !important;
                  left: -10px;
        }
        
      }
      
      
      
      
    }//.categoryList
    
    .editCategory {
      background:#fff url('../images/edit.png') no-repeat center;  
      @extend .categorySectionButtons;
      border-top: none;
      border-bottom: none;
      background-size: auto;
      margin-right:20px; 
      background-size: 18px;       
   }//.editCategory
   
   .deleteCategory {
      background:#c30000 url('../images/deletePhoto.png') no-repeat center;  
     @extend .categorySectionButtons;
      border-top: none;
      border-bottom: none;
      background-size: auto;
      
      background-size: 18px;
    }//.deleteCategory
    
  }
  
  .addCategory {
      background:#fff;  
     @extend .categorySectionButtons;
      color:$green;
      border:1px solid $green; 
      position: fixed;
      
      background-size: 18px;
          font-size: 30px;
          font-family: $avenirBlack;
              right:15px;
    padding: 3px 13px 7px 14px;
    }
  
    
}

.categorySectionButtons {
  width: 50px;
  height: 50px;
  float:left;
  @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
  @include border-radius(65px);  
  float:right;
}



    
    
    
    
