@import "variables";
@import "mixins";
@import "compass/css3";
 

body {
	font-family:$avenirMedium;
	color: #737373;
}


header {
	width: 100%; 
	background:white; 
  @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
  position: relative;
  
  .loginSignupButtons, .recipeMainAppButtons {
    text-align:right;
    margin-top:-3px;
    
     @media screen and (min-width: $mobileView) {
        margin-top:15px;
      }
    
  }
  
  
  .recipeMainAppButtons {
    
    .dropDownElement {
      margin-top:0px;
      margin-left: 10px;
    
      @media screen and (min-width: $mobileView) {
        margin-top: -12px;
      }
    }
  }
  
  
    
  
  img {
    height:40px;
    
    
    @media screen and (min-width: $mobileView) {
      height:50px;
    }
    
  }
  
  
  .content {
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .OrangeButton {
    margin-left:10px;  
  }
  
  
  .pageTitleHeader {
    background:$brown;
    font-family: $avenirBlack;
    color:white;
    padding: 6px 0px;
    font-size: 16px;
    
    @media screen and (min-width: $mobileView) {
      font-size: 24px;
    }
  }
  
  .dropDownElement {
    float: right;
    position:relative;
    
    a:link {
      color:black;
    }
    
    .dropDown {
      display:none;
      position: absolute;
      background: white;
      right: 0px;
      @include box-shadow(0 2px 6px #a5a5a5);
      @include border-radius(5px);
      z-index: 1;
      overflow:hidden;
      
      a:link, a:visited {
        color:black;
        text-decoration:none;
      }
      
      .link {
        padding:15px 40px 15px 15px;
        border-bottom:1px solid #ececec;
        text-align:left;
        white-space:nowrap;
        font-family: $avenirBlack;
        
        &:hover {
           background: #E7E7E7;
        }
        
        .fa-bars {
          color:black
        }
      }
      
      
    }
    
    .bars {
      width: 42px;  
      padding: 8px 8px 4px 8px;
      @include border-radius(5px);
    }
    
    .bars.selected {
      background: #dcdcdc;
    }
    
    
  }
  
  .mobileDropDown {
    float: right;
    position:relative;
    
    a:link {
        color:black;
      }
    
    @media screen and (min-width: $mobileView) {
      display:none;
    }
    
    
    
    
    
    
  }
  
  
}

.OrangeButton {
    @extend .CallToActionButton;
    background: $orange;
    
    &:hover {
      background: $darkOrange;
      text-decoration:none;
      color:white;
    }
    
    &:visited, &:active, &:focus {
      text-decoration:none;
      color:white;
    }
}

.whiteButton {
  @extend .CallToActionButton;
  background: white;
  border:1px solid #E6E6E6;
  color:black !important;
    
    &:hover {
      background: #E7E7E7;
      text-decoration:none;
      color:black;
    }
    
    &:visited, &:active, &:focus {
      text-decoration:none;
      color:black;
    }
}

.CallToActionGreenButton {
  @extend .CallToActionButton;
  background:$green;
  border:1px solid $green; 
  margin-left:10px;
  
  &:hover {
      background:$darkGreen;
      border:1px solid $darkGreen; 
      text-decoration:none;
      color:white;
    }
    
    &:visited, &:active, &:focus {
      text-decoration:none;
      color:white;
    }
  
}




.CallToActionButton {
  @include border-radius($ImportantButtonRadius); 
  padding: $buttonPadding;
  color:white;
  font-family: $avenirBlack;
  font-size: 12px;
}

.blueButton {
  @extend .submitButtons;
  background:$blue;
  border:1px solid $blue; 
  
  &:hover {
    background:$darkBlue;
    border:1px solid $darkBlue; 
  }
  
  
}

.greenButton {
  @extend .submitButtons;
  background:$green;
  border:1px solid $green; 
  
  
  &:hover {
    background:$darkGreen;
    border:1px solid $darkGreen; 
  }
  
}


.submitButtons {
  color:white;
  font-family: $avenirBlack;
  padding: 7px 14px;
  font-size: 12px;
  @include border-radius($submitButtons); 
  width:100%;
  margin-bottom:10px;
  
  @media screen and (min-width: $mobileView) {
    width:auto;
    marign-bottom:0px;
  }

  
}




form {
  .content {
    padding:30px 0px;
    
    .FormHeader {
      color:$brown;
      font-size: $headerTextMobile;
      font-family: $avenirBlack;
      margin-bottom:30px;
      
      @media screen and (min-width: $mobileView) {
        font-size: $headerTextDesktop;
      }
      
 
    }
    
    .welcomeText {
      font-size:$headerTextMobile;
      color:#888888;
      margin-bottom:30px;
      font-family:$avenirMedium;
      
      @media screen and (min-width: $mobileView) {
        font-size:$headerTextDesktop;
      }
      
    }
    
    .inputLine {
      margin-bottom:20px;
      
      .formLabel {
        margin-bottom:10px;
        font-family: $avenirBlack;
        color:black;
        font-size: 16px;
      }
      
      input {
        width:100%;
        padding:0px;
        font-size:26px;
        font-family:$avenirMedium;
        color:#cccccc;
        border-bottom: 1px solid #cccccc;
        border-top:none;
        border-left:none;
        border-right:none;
        
        //hover
        &:hover {
          border-bottom: 1px solid $blue
        }
        
        //focus
        &:focus {
          border-bottom: 1px solid $orange;
          outline:none;
        }

      }
      
      textarea {
        width:100%
      }
      
      .mui-select__menu>div {
        font-family:$avenirMedium;
      }
      
      .mui-select {
        padding-top:0px;
      }
      
      .mui-select>select {
        font-family:$avenirMedium;
        color:#cccccc;
        font-size:26px;
        border-bottom: 1px solid #cccccc;
        height: 40px;
      }
      
    }
    
    
  }
}

.greyBackgroundContent {
  background:$lightGray;
}




/*----------------input/textarea boxes---------------*/


.form-overlay {
	background: black;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;	
	display:none;
  @include opacity(.5);
	z-index: 1;
}


.popup {
	position:fixed; 
	top:50%; 
	left:50%; 
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px; 
	background:white; 
	z-index: 99;
	display:none;
}

.socialMediaLink {
  margin-top:20px;
  
  .faceBookIntegration {
    background: #3B5998 url(../images/faceBookIntegration.png) no-repeat 12px 5px;
    height: 35px;
    background-size: 17px;
    font-family: "AvenirBlack";
    color: white;
    padding-left: 45px;
    padding-top: 8px;
    position: relative;
    float: left;
    padding-right: 10px;
  }  
  
  .line {
    position:absolute; top:0px; left:35px; border-left:1px solid white; bottom:0px;
  }
}


/*--------------messages-------------*/

strong {
  font-family:$avenirBlack
}

.pageMessage {
  position: relative;
  
  .loadingSpinner {
    text-align:center;
    padding: 10px 0px 0px 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background:white;
  }
  
  .loadingSpinner.ng-hide {
    @include transition(all 0.5s);
    opacity:0;
  }
  
}


.pageTemplate {
  @include transition(all 0.3s);
}
.pageTemplate.ng-enter, .pageTemplate.ng-leave {
  opacity:0;
}






