html, body {
	height: 100%;
}
body {
	
}


.background-slideshow {
	height: 100%;
	background:url(../images/home-background.jpg);
	background-size:cover;
	background-position: 50% 50%; 
	left: 0;
	position: fixed;
	z-index: -1;
	top: 0;
	width: 100%;
}

.recipe-description{ 
	width:100%; 
	margin-top: 20px; 
	font-size:20px;
	text-align:center;
	color:white;
	text-shadow: 0px 0px 30px #000000;
	-moz-text-shadow: 0px 0px 30px #000000;
	-webkit-text-shadow: 0px 0px 30px #000000;
}

.signupLogin-links {
	color:white;
	text-decoration:none;
	text-align: center;
	text-shadow: 0px 0px 30px #000000;
	-moz-text-shadow: 0px 0px 30px #000000;
	-webkit-text-shadow: 0px 0px 30px #000000;
	margin-top: -15px;
}
.recipe-book-icon {
	background:url(../images/recipe-book-icon.png) no-repeat center;
	width:64px;
	height:46px;
	margin:0 auto;
}

.entry-text-link-section {
	position:absolute;
	top:50%;
	left:50%;
	width: 700px;
	margin-left:-350px;
	margin-top:-121.5px;
}
.login-signup {
	width: 241px;
	margin: 0 auto;
	border:5px solid rgba(255, 255, 255, 0.16);
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

.login-signup a {
	color:white;
	text-decoration:none;
}





.entry-text-container {
	bottom: 0;
	left: 0;
	min-height: 465px;
	min-width: 760px;
	position: absolute;
	right: 0;
	top: 0;
}
.login-form { 
	margin-left:-126px; 
	margin-top:-124px;
	width: 250px;
}
.signup-form-text {
	border-bottom: 1px solid #e1e1e1;	
	font-size: 20px;
	padding-left: 8px;
	padding-bottom: 5px;
	text-align: center;
}
.signup-form {
	position:fixed; 
	top:50%; 
	left:50%; 
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px; 
	background:white; 
	margin-left: -316px; 
	margin-top:-124px;
	z-index: 99;
	display:none;
	width: 630px;
}
.form-container {
	padding:0px 6px 0px 14px;
}
.input-row {
	margin-bottom: 6px;
	display: inline-block;
	width:100%;
	position:relative;
}
.input-row a {
	font-family:arial;
	font-size:12px;
	color:#737373;
}

.input-row input[type='text'], .input-row input[type='password']  {
	width: 285px;
}

div.error {
	position: absolute;
	top: 0;
	right: 13px;
	font-family:arial;
	font-size:12px;
	color: #9a0b0b;
	
}





/* -------footer--------- */
.credits {
	text-align:center;	
	color:white;
	width:100%;
	margin-top: 50px;
}
.credits a, .credits p {
	color:white;
}

