form .loginEmailForm{max-width:650px;margin:0 auto;-moz-transition:all 0.5s;-o-transition:all 0.5s;-webkit-transition:all 0.5s;transition:all 0.5s}form .retrieveCredientialsText{margin-bottom:20px;font-size:16px}form .forgotCredentialsForm.ng-hide{opacity:0}form .credentialsSent{position:absolute;top:0px;z-index:1;left:0px;right:0px;opacity:1}form .credentialsSent.ng-hide{opacity:0}
