body {
	background: url(../images/background-pattern.png);
}
header {
	background: url(../images/header-background.png) repeat-x; 
	height:52px; 
	padding-top:14px;
	display:block;
	position: fixed; 
	width: 100%; 
	z-index:1;
	box-shadow: 0px 0px 20px #000;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000
}



.defaultImageContainer {
	border-bottom:1px solid #e1e1e1
}

/*header*/
.main-app-link {
	float:left; 
	padding:10px; 
	color:#3f2804;
}
.main-app-link a { 
	font-size:16px; 
	text-decoration:none
}
.main-app-link:hover {
	background:#3f2804; 
	color:white;  
	text-decoration:none; 
	border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
}

/*view all recipes*/
.recipe-link-section {
	padding:8px 8px 5px 8px;
	display:inline-block;
	margin: -2px 0px;
}

.recipe-link-section a:link {
	font-family:arial;
	font-size:12px;
	color:black;
	text-decoration:none;
}

.recipe-link-section a:visited {
	color:black;
}

.recipe-link-section a:hover {
	font-family:arial;
	font-size:12px;
	color:black;
	text-decoration:underline;
}

.link-container {
	float:left; 
	margin:0px 7px; 
	padding-right:12px; 
	padding-top: 2px;
}

.link-container:first-child {
	height:20px;
	border-right:1px solid black;
}
.subPageMenu {
	width:280px;
	background:white;
	float:left;
	box-shadow: 0px 0px 10px #7C7B7B;
	-webkit-box-shadow: 0px 0px 10px #7C7B7B;
	-moz-box-shadow: 0px 0px 10px #7C7B7B;
}

.selection {padding:10px}
.selection select {width:100%;}
.CategoryForm {padding:10px; border-bottom: 1px solid #e1e1e1; position:relative; display:none;}
.CategoryForm .close {background: url(../images/close-message.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 0px; top: 5px;}


.CategoryForm form {display:none}
.CategoryForm form .label {margin-bottom:5px;}
.CategoryForm form input[type='text'] {width: 250px;}
.CategoryForm form input[type='submit'] {
	padding:7px; 
	border:none; 
	box-shadow:none; 
	-webkit-box-shadow:none; 
	-moz-box-shadow:none; 
	font-family:arial; 
	font-size:12px; 
	background:#737373; 
	color:white; 
	border-radius: 0px;
	height: auto;
	width: auto;
	transition:background .25s ease;
	-webkit-transition:background .25s ease;
	-moz-transition:background .25s ease;
}
.CategoryForm form input[type='submit']:hover {
	background: #555555;
	
}
.addCategory {
	position: absolute;
	width: 35px;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 30px;
	font-family:arial;
	color:white;
	text-decoration:none;
	font-weight:100;
}

.addCategory:hover, .addCategoryOpen {
	background: #f2b359;
	color: #3f2804;
}
.addCategory div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -17px;
	margin-left: -9px;
}

.categoryLine {
	font-family: arial;
	padding: 10px 44px 10px 10px;
	font-size: 12px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
	text-overflow: ellipsis;
	height: 14px;
	overflow: hidden;
	white-space: nowrap;
	margin-right: 0px;
}
.categoryLine input[type='submit'].delete {
	background: url(../images/close-message.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 5px; top: 5px; display:block; border:none; box-shadow:none;
}
.categoryLine input[type='submit'].delete:hover {
	background: #737373 url(../images/close-messageHover.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 5px; top: 5px; border:none; box-shadow:none; border-radius:0px;
}

.categoryLine .edit {
	background: url(../images/editCategory.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 30px; top: 5px; display:block;
}
.categoryLine .edit:hover {
	background: #737373 url(../images/editCategoryHover.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 30px; top: 5px;
}
.categoryLine .editFormOpen {
	background: #737373 url(../images/editCategoryHover.png) no-repeat center; width: 25px; height: 25px; position: absolute; right: 30px; top: 5px;
}


.recipes-container {
	margin-left:300px;
}

/*no recipes submitted*/
.no-recipe-entered-text{
	text-align:center; 
	font-size: 24px; 
	margin-top: 15px; 
	margin-bottom:20px;
}

.errorSuggestionBox {
	width:300px;
	margin-left:-150px;
	margin-top:-103px;
}
.errorSuggestionBox a:link {
	color: #737373;
}
.errorSuggestionBox a:visited {
	color: #737373;
}

.errorSuggestionBox .header {
	padding:5px 10px; 
	float:left;
	width:160px; 
}
.errorSuggestionBox .content {
	padding: 4px 10px 10px 10px;
	clear: both;
}
.errorSuggestionBox .content .input-line {
	margin-bottom: 8px;
}

.errorSuggestionBox .content .input-line input[type='submit'] {
	padding: 7px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	font-family: arial;
	font-size: 12px;
	background: #737373;
	color: white;
	border-radius: 0px;
	height: auto;
	width: auto;
	transition: background .25s ease;
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
}
.errorSuggestionBox .content .input-line input[type='submit']:hover {
background: #555555;
}




/*veiw state*/
.normal-header a span {
	color:white;
}
.edit-button {
	position:absolute;
	width:60px;
	top:0;
	bottom:0;
	right:0;
	font-size:20px;
}
.edit-button div {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-11.5px;
	margin-left:-16px;
}
.edit-button:hover {
	background:#f2b359;
	color:#3f2804;
}
.breadcrumbs {
	padding:10px;
	background: #f0f0f0;
	border-bottom:1px solid #e1e1e1;
}
.breadcrumbs .link {
	float:left;
	font-family:arial;
	font-size:12px;
	color: #737373;
}
.breadcrumbs .breadcrumb-divider {
	float:left;
	background:url(../images/breadcrumbMainApp-arrow.png) no-repeat center;
	width:25px;
	height:14px
}
.breadcrumbs .link a:link {
	font-family:arial;
	font-size:12px;
	color: #737373;
	text-decoration:none;
}
.breadcrumbs .link a:hover {
	text-decoration:underline;
}
.breadcrumbs .link a:visited {
	color: #737373;
	text-decoration:none;
}


a.edit-recipe-button:link {
	color:white;
}
a.edit-recipe-button:visited {
	color:white;
}


.border-divide {
	border-bottom: 1px solid #E7E7E7;
	margin-bottom: 13px;
}

.white-box-content {
	padding: 8px;
	display: inline-block;
	width: 738px;
}

.form-container {
	margin:5px 10px 10px 10px;
}


.form-row {
	font-family:arial;
	color:black;
	font-size:12px;
	width:100%;
	clear:both;
}
.form-input {
	margin-bottom:10px;
}
.form-row .form-input .form-label {
	float:left;
	width: 170px;
}
textarea {
	width: 560px;
}


.ingredients{
	padding:10px 0px;
}
.instructions{
	padding:10px 0px;
}



/*edit state*/

.image-upload-section {
	position: absolute;
	bottom:15px;
	left: 10px;
	right: 10px;
	background: white;
	padding: 7px;
	border:1px solid #c7c7c7;
	display:none;
}
.image-upload-section span.required {
	float: left; margin-top: 2px;
}
.image-upload-section a.close:link {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	color:#737373;
	float: left; 
	margin-top: 2px;
	margin-left: 20px;
	text-decoration:underline;
}
.image-hover {
	position: relative;
}
a.clearFileInput {
	display:none;
}
a.closeFileUpload:link, a.closeFileUpload:visited {
	font-family:arial;
	font-size:12px;
	color:#737373;
	font-weight:bold;
	margin-left:5px;
}
a.change-picture-label:link {
	font-family: arial;
	position: absolute;
	right: 10px;
	bottom: 18px;
	font-size: 12px;
	color: #ffffff;
	background: #737373;
	padding: 7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.45);
	border: 1px solid #6d6d6d;
	display:none;
	text-decoration:none;
}
a.change-picture-label:hover {
	background: #858585;
}

.white-box-content ul {
	margin-left: 15px;
}
.white-box-content ul li {
	font-family:arial;
	color:black;
	font-size:12px;
}

#currentImageLabel {
	position:absolute;
	top:10px;
	right:10px;
	font-size:12px;
	color:white;
	font-family:arial;
	background: #737373;
	padding:7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

span.error {
	color: #9a0b0b;
	font-family: arial;
	font-size: 12px;
	position: relative;
}
.dropdown {	
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	position: absolute;
	right: 0px;
	background: white;
	box-shadow: 0 0 7px #4D4D4D;
	-webkit-box-shadow: 0 0 7px #4D4D4D;
	-moz-box-shadow: 0 0 7px #4D4D4D;
	display: none;
	z-index: 1;
	top: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.dropdown .link {
	padding: 4px 8px;
	font-family:arial;
	font-size:12px;
	color: #737373;
}
.dropdown a:link {
	text-decoration: none;
}
.dropdown .link:hover {
	background: #f2b359;
	color: #3f2804;
}

.dropDownArrow {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #3f2804;
	margin-top: 8px;
}
.main-app-link:hover .dropDownArrow {
	border-top: 6px solid white;
} 

.dropDownMenu {
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;

	position: absolute;
	right: 0px;
	background: white;
	box-shadow: 0px 2px 2px #8C8C8C;
	-webkit-box-shadow: 0px 2px 2px #8C8C8C;
	-moz-box-shadow: 0px 2px 2px #8C8C8C;
	display: none;
	z-index: 1;
	top: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.dropDownMenu a:link, .dropDownMenu a:visited  {
	font-family:arial;
	color:#737373;
	font-size:12px;
	text-decoration:none;
	
}
.dropdown-item:hover {
	background: #f2b359;
color: #3f2804;
}

.dropDownMenu .dropdown-item {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 15px;
	padding-right: 30px;
}
.dropDownArrowClicked {
	border-top: 6px solid white;
}




