.message-holder {
	position:fixed;
	z-index:999;
}
.message {
	text-align: center;
	top: 90px;
	left:50%;
	margin-left:-250px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: 'arial';
	color: white;
	width: 500px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	font-size: 12px;
	position: fixed;
	clear: both;
	box-shadow: 0px 2px 22px #242424;
	-webkit-box-shadow: 0px 2px 22px #242424;
	-moz-box-shadow: 0px 2px 22px #242424;
	z-index: 999;
}
.message.error {
	background: #BE5151;
	border: 1px solid #811010;
	color:white;
	font-weight: normal;
}
.message.success {
	background: #45A128;
	border: 1px solid #276D11;
	color:white;
}
.message.generic {
	background: #FFEB9B;
	color: black;
	font-weight: bold;
	border: 1px solid #BEB228;
}

.message.generic .message-close {
	background: url(../images/error-close-messageGeneric.png) no-repeat center;
}

.message-close {
	background: url(../images/error-close-message.png) no-repeat center;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 25px;
	height: 30px;
	cursor: pointer;
}

/*
 * error popups
 */

.error.multiple {
	text-align:center;
	position:fixed; 
	top:50%; 
	left:50%; 
	background:white;  
	width:300px; 
	max-height:200px; 
	margin-left:-150px; 
	margin-top:-100px; 
	border:1px solid #999; 
	background: #9a0b0b; 
	box-shadow: 0 0 41px -6px #000; 
	-ms-box-shadow: 0 0 41px -6px #000;
	-moz-box-shadow: 0 0 41px -6px #000; 
	-webkit-box-shadow: 0 0 41px -6px #000; 
	border-radius: 10px; 
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
	-ms-border-radius: 10px; 
	padding:5px; 
	color:white; 
	background:#9a0b0b; 
	font-family:arial; 
	font-size:12px; 
	margin-bottom:5px;
}
.error-close-link{ 
	float: right; 
	font-family:'Triplex'; 
	font-size: 14px; 
	color: white; 
	cursor: pointer; 
	width: 11px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.error-close-link:hover {
	color:black;
}		
.error-close-link:active {
	color:#999;
}	


.error-line span.error {
	color: #9a0b0b;
	font-family: arial;
	font-size: 12px;
	float: right;
	width: 220px;
	position: absolute;
	top: 10px;
	left: 182px;
}

