.settings-section {
	width:100%;
}

.toggle-content {
	width:100%;
	clear:both;
	display:none;
	padding-top: 15px;
	margin-right: 10px;
	
}

.toggle-content form {
	display:none;
}

.settings-inner-label {
	float:left;
	width:135px;
	text-align:right;
	margin-top: 10px;
	margin-right: 15px;
}

.settings-input-line {
	width:360px; 
	clear:both;
	margin:0 auto 15px auto;
}

form .settings-input-line input[type='text'], form .settings-input-line input[type='password'] {
	width:200px;	
}

.button-holder input[type="submit"] {
	
}

.subPageMenu a .settingLink {
	padding:10px;
	border-bottom: 1px solid #e1e1e1;
}
.subPageMenu a:link, .subPageMenu a:visited {
	color: #737373;
	text-decoration:none;
} 
.settingLink:hover {
	background: #f2b359;
	color: #3f2804;
}
.subPageMenu .subSettingsMenuOn {
	background: #f2b359;
	color: #3f2804;
	cursor:default;
}
.deleteAccountPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	background: white;
	margin-left: -220px;
	margin-top: -89px;
	z-index: 99;
	display: none;
	width: 440px;
}
a.redLink:link {
	background:#c30000;
	color:white;
	padding: 7px 11px;
	text-decoration:none;
	font-family:arial;
	font-size:12px;
	
}
a.redLink:hover {
	background: #A00000;
}
a.redLink:visited {
	color:white;
}

