* {
	padding:0; 
	margin:0;
}
body {
	font-family:Helvetica; 
}
header {
	background:#2a2a2a; 
	color:white;
	font-weight:bold;
	font-size:16px;
	height: 40px;
	margin-bottom: 15px;
}
.divider {
	border-bottom: 1px solid #d9d9d9;
}
.headerPage {
	font-size:24px;
	margin-top: 30px;
}
.breadCrumbs {
	background: #F0F0F0;
	font-size:16px;
	padding:11px;
	margin: 6px 0px 20px 0px;
	color:#666;
	height: 17px;
}
.breadCrumbs .link {
	float:left;
}
a.breakcrumbLink:link {
	text-decoration:none;
	color:#666;
}
a.breakcrumbLink:hover {
	text-decoration:underline;
}
a.breakcrumbLink:visited {
	text-decoration:none;
	color:#666;
}

.breadcrumb-arrow {
	background:url(../../images/breadcrumb-arrow.png) no-repeat center; width:30px; height:16px; 
	float:left;
}
.wrapper {
	width:1024px;
	margin:0 auto;
}
.admin-link {
	float:left;
	border-left:1px solid #575757;
	padding-left: 10px;
	padding-right: 10px;
	height:40px;
}
.divider {
	
}
header a {
	color:white;
}
.breadcrumbs {
	margin-bottom:15px;
	
}
header a:hover .admin-link {
	background:#575757;
}
.notifications {
	color:white;
	float:left;
	padding: 5px 10px 5px 10px;
	background:#ae0000;
	margin-left: 10px;
}


input[type="text"], input[type="password"], textarea {
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #cccccc;
	height: 30px;
	padding-left: 8px;
	transition: box-shadow .15s ease;
	-moz-transition: box-shadow .15s ease;
	-ms-transition: box-shadow .15s ease;
	-webkit-transition: box-shadow .15s ease;
	font-size: 16px;
	font-family: 'Helvetica';
	font-weight: 100;
}
:focus {
	outline:none;
}

input[type="text"]:focus, input[type="text"]:active, input[type="password"]:focus, input[type="password"]:active, textarea:focus, textarea:active {
    border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25); 
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border-color: #a0a0a0;
    box-shadow: 0 0 0 2px rgba(161, 161, 161, 0.25);
}
.adminLabel {
	font-size:20px;
}
.adminData {
	font-size:16px;
}


.new-line {
	color:#ae0000;
	background:#ff9f9f;
	border-bottom:1px solid white;
	font-weight:bold;
}

a.adminSelect:link .adminListLine:hover {
	background:#f0f0f0;
}
.adminListLine {
	padding:15px;
	height: 15px;
	border-bottom:1px solid #d9d9d9;
	color: #2a2a2a;
}

a.delete:link {
	background: #d84a38;
	color:white;
	padding:10px;
	font-size:16px;
	margin-top:-10px;
	margin-right:-10px;
	text-decoration:none;
}
a.delete:hover {
	background: #B82A18;
}
a.delete:visited {
	color:white;
}




.pagination-section {
	padding:10px;
}
.pagination {
	float:right;
}
.pagination-left, .pagination-right, .pagination-number {
	padding: 10px 15px 10px 15px;
	float:left;
}
.pagination-number {
	margin-right:3px;
	background:#ae0000;
	color:white;
}


.pagination-number-selected, .pagination-number:hover, .pagination-right:hover, .pagination-left:hover {
	color:#ffffff;
	background:#820202;
}
.pagination-left {
	background:#ae0000;
	color:white;
	margin-right:3px;
}
.pagination-right {
	background:#ae0000;
	color:white;
}
footer {
	display:block;
	color:#2a2a2a; 
	font-weight:bold;
	font-size:12px;
	margin-top: 10px;
}