body {
	color:#2a2a2a;
	
}
.login-box {
	position:absolute;
	left:50%;
	top:50%;
	width: 325px;
	margin-left:-162.5px;
	margin-top:-167.5px;
}

.login-input-section {
	border:1px solid #d9d9d9;
	background:white;
	box-shadow: 0px 3px 30px #D3D3D3;
	-webkit-box-shadow: 0px 3px 30px #D3D3D3;
	-moz-box-shadow: 0px 3px 30px #D3D3D3;
	-ms-box-shadow: 0px 3px 30px #D3D3D3;
}

.loginHeader {
	font-size:24px;
}
.padding {
	padding:10px 10px 10px 15px; 
}
.login-label {
	font-size:16px;
	margin-bottom:5px;
}
a.forgotCredentials:link, a.forgotCredentials:visited {
	color:#2a2a2a;
	text-decoration:none;
}
a.forgotCredentials:visited {
	text-decoration:underline
}
a.backToLogin:link {
	color:white;
	background:#0cc82b;
	padding:7px;
	text-decoration:none;
	transition: background ease .25s;
	-webkit-transition: background ease .25s;
	-moz-transition: background ease .25s;
}
a.backToLogin:hover {
	background: #099B21;
	padding:7px;
}
a.backToLogin:visited {
	color:white;
	background:#0cc82b;
	padding:7px;
}
input[type="submit"] {
	cursor:pointer;
	border:none;
	font-size: 16px;
	background:#0cc82b;
	color:white;
	padding:7px;
	font-family: helvetica;
	transition: background ease .25s;
	-webkit-transition: background ease .25s;
	-moz-transition: background ease .25s;
}

input[type="submit"]:hover {
	background: #099B21;
}
