.categoryListHeader {
	height: 40px;
	font-weight: bold;
	border-bottom :1px solid #BEBABA;
}
.categoriesHeader {
	color: #7e7e7e;
	padding:12px 10px 10px 10px;
	float:left;	
}

a:link  {
	text-decoration:none;
}
.newSection {
	padding:10px;
	color: #ffffff;
	background:#27a9e3;
	font-weight:100;
	font-size:16px;
}



.listSection {
	box-shadow: 0px 1px 3px #BEBABA;
	-webkit-box-shadow: 0px 1px 3px #BEBABA;
	-moz-box-shadow: 0px 1px 3px #BEBABA;
	-ms-box-shadow: 0px 1px 3px #BEBABA;
}
.adminListLine:hover {
	background:#f0f0f0;
}

.new-category-form {
	position:absolute;
	right:-10px;
	background:white;
	border:1px solid #cecece;
	display:none;
}
.form-container {
	padding:15px;
}

input[type="submit"] {
	cursor:pointer;
	border:none;
	font-size: 16px;
	background:#0cc82b;
	color:white;
	padding:7px;
	font-family: helvetica;
	transition: background ease .25s;
	-webkit-transition: background ease .25s;
	-moz-transition: background ease .25s;
}

input[type="submit"]:hover {
	background: #099B21;
}
.submit-button-section {
	padding:10px;
}
