.editError-type {
	float:left;
	margin-top: -5px;
	margin-left: 30px;
}
input[type="submit"], a.edit:link {
	background: #0cc82b;
	color: white;
	padding: 10px;
	text-decoration:none;
	font-size:16px;
	border:none;
	font-family:Helvetica;
	cursor:pointer;
}
input[type="submit"]:hover, a.edit:hover {
	background: #099B21;
}
a.edit:visited {
	color: white;
}
.closeEditCateogry {
	float:left;
	background:url(../../images/closeEditCategory.png) no-repeat center; 
	width:30px; 
	height:30px; 
	margin-top: 10px;
}
.editErrorCategory {
	background:url(../../images/editCategoryToolTip.png) no-repeat center;
	width:305px;
	height:50px;
	display:none;
	float: left;
}
