.errorList-SubMenu {
	width:200px;
	float:left;
	background: #f0f0f0;
	
}
.errorList-SubMenu .subList {
	padding:10px;
	color: #2a2a2a;
	font-weight: bold;
	font-size: 16px;
}
.errorList-SubMenu a {
	text-decoration:none;
}
.errorList-SubMenu a .subList:hover {
	background:#575757;
	color:white;
}


table tr th:last-child {
}
table tr th:nth-child(2) {
	width:120px; 
	white-space:nowrap; 
	text-align:left;
}
table tr td:first-child {
	border-left:1px solid #d4d4d4;
	border-right:1px solid #d4d4d4;
	width:50px;
}
table tr td:last-child {
	border-right:1px solid #d4d4d4;
	text-align:center;
	width: 49px;
}
table tr td:nth-child(2) {
	width: 600px;
	white-space:nowrap; 
	text-overflow:ellipsis;
	text-align:left;
	border-right:1px solid #d4d4d4;
}
table tr td:nth-child(3) {
	width: 129px;
	border-right:1px solid #d4d4d4;
}
table tr td:nth-child(4) {
	width: 130px;
	border-right:1px solid #d4d4d4;
}
