table tr th:last-child {
	width:50px;
}
table tr th:nth-child(2) {
	width:70px; 
	white-space:nowrap; 
	text-align:center;
}
table tr th:nth-child(3) {
	width:55px
}
table tr td:first-child {
	border-left:1px solid #d4d4d4; 
	border-right:1px solid #d4d4d4;
}
table tr td:last-child {
	border-right:1px solid #d4d4d4; 
	border-left:1px solid #d4d4d4; 
	text-align:center;
}
table tr td:nth-child(2) {
	white-space:nowrap; 
	text-align:center; 
	border-right:1px solid #d4d4d4;
	width: 124px;
}